In [ ]:
"""
combine all the csv files with r/technews posts

filter to remove the deleted posts
check the is_meta and remove those where true/yes
check the archived, quarantine, and is_self columns if any true/yes and remove these posts 

saved filtered dataset to pickle

"""

In [44]:
import glob
import os

import pandas as pd
import pickle

In [2]:
raw_data = pd.DataFrame()

for file_name in glob.glob('data/*.csv'):
    try:
        x = pd.read_csv(file_name, low_memory=False)
        raw_data = pd.concat([raw_data,x],axis=0)
        print('APPENDED: ', file_name)
    except:
        print('ERROR: ', file_name)

APPENDED:  data/technews_1388552400_1404187200.csv
APPENDED:  data/technews_1404187200_1420088400.csv
APPENDED:  data/technews_1561953600_1577854800.csv
APPENDED:  data/technews_1530417600_1546318800.csv
APPENDED:  data/technews_1467345600_1483246800.csv
APPENDED:  data/technews_1357016400_1372651200.csv
APPENDED:  data/technews_1546318800_1561953600.csv
APPENDED:  data/technews_1483246800_1498881600.csv
APPENDED:  data/technews_1498881600_1514782800.csv
APPENDED:  data/technews_1293771600_1325394000.csv
APPENDED:  data/technews_1372651200_1388552400.csv
APPENDED:  data/technews_1435723200_1451624400.csv
APPENDED:  data/technews_1451624400_1467345600.csv
APPENDED:  data/technews_1420088400_1435723200.csv
APPENDED:  data/technews_1577854800_1593576000.csv
APPENDED:  data/technews_1325307600_1357016400.csv
APPENDED:  data/technews_1593576000_1609477200.csv
APPENDED:  data/technews_1514782800_1530417600.csv

In [3]:
raw_data.shape

(76790, 104)

In [4]:
raw_data.columns

Index(['author', 'author_created_utc', 'author_flair_css_class',
       'author_flair_text', 'author_fullname', 'created_utc', 'domain',
       'full_link', 'gilded', 'id',
       ...
       'url_overridden_by_dest', 'rte_mode', 'author_id', 'brand_safe',
       'mod_reports', 'user_reports', 'approved_at_utc', 'banned_at_utc',
       'view_count', 'previous_visits'],
      dtype='object', length=104)

In [5]:
raw_data.head()

,author,author_created_utc,author_flair_css_class,author_flair_text,author_fullname,created_utc,domain,full_link,gilded,id,...,url_overridden_by_dest,rte_mode,author_id,brand_safe,mod_reports,user_reports,approved_at_utc,banned_at_utc,view_count,previous_visits
0,Password_is_123456,1.322791e+09,NaN,NaN,t2_6crtu,1404184792,cnet.com,https://www.reddit.com/r/technews/comments/29j...,0.0,29j6ov,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Password_is_123456,1.322791e+09,NaN,NaN,t2_6crtu,1404184791,arstechnica.com,https://www.reddit.com/r/technews/comments/29j...,0.0,29j6op,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,[deleted],NaN,NaN,NaN,NaN,1404181722,protonmail.ch,https://www.reddit.com/r/technews/comments/29j...,0.0,29j2c1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ANIMAL_NewYork,1.403191e+09,NaN,NaN,t2_h1mjr,1404156644,animalnewyork.com,https://www.reddit.com/r/technews/comments/29h...,0.0,29hy6f,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Password_is_123456,1.322791e+09,NaN,NaN,t2_6crtu,1404155395,techcrunch.com,https://www.reddit.com/r/technews/comments/29h...,0.0,29hvyr,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76790 entries, 0 to 3841
Columns: 104 entries, author to previous_visits
dtypes: bool(2), float64(27), int64(3), object(72)
memory usage: 62.5+ MB

In [15]:
raw_data.created_utc.dtype

dtype('int64')

In [9]:
raw_data.describe()

,author_created_utc,author_flair_css_class,author_flair_text,created_utc,gilded,num_comments,retrieved_on,score,created,edited,...,author_flair_template_id,category,content_categories,link_flair_template_id,removal_reason,suggested_sort,upvote_ratio,approved_at_utc,banned_at_utc,view_count
count,1.783900e+04,0.0,0.0,7.679000e+04,23687.000000,76790.000000,7.625100e+04,76790.000000,7.679000e+04,5.000000e+00,...,0.0,0.0,0.0,0.0,0.0,0.0,18103.000000,0.0,0.0,0.0
mean,1.410154e+09,NaN,NaN,1.539154e+09,0.000507,3.861115,1.543414e+09,13.249850,1.539172e+09,5.644431e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,0.996008,NaN,NaN,NaN
std,6.140677e+07,NaN,NaN,6.056189e+07,0.024307,32.524361,5.257271e+07,124.001799,6.056189e+07,7.729518e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,0.037251,NaN,NaN,NaN
min,1.134104e+09,NaN,NaN,1.293864e+09,0.000000,0.000000,1.411408e+09,0.000000,1.293882e+09,1.000000e+00,...,NaN,NaN,NaN,NaN,NaN,NaN,0.250000,NaN,NaN,NaN
25%,1.398993e+09,NaN,NaN,1.499686e+09,0.000000,0.000000,1.502124e+09,1.000000,1.499704e+09,1.000000e+00,...,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN
50%,1.411068e+09,NaN,NaN,1.557150e+09,0.000000,0.000000,1.557688e+09,1.000000,1.557168e+09,1.000000e+00,...,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN
75%,1.447177e+09,NaN,NaN,1.586958e+09,0.000000,0.000000,1.587190e+09,1.000000,1.586976e+09,1.397923e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN
max,1.527105e+09,NaN,NaN,1.609471e+09,2.000000,2697.000000,1.609471e+09,8224.000000,1.609489e+09,1.424293e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN

In [16]:
raw_data['date_time'] = pd.to_datetime(raw_data['created_utc'], unit='s')

In [17]:
raw_data.head()

,author,author_created_utc,author_flair_css_class,author_flair_text,author_fullname,created_utc,domain,full_link,gilded,id,...,rte_mode,author_id,brand_safe,mod_reports,user_reports,approved_at_utc,banned_at_utc,view_count,previous_visits,date_time
0,Password_is_123456,1.322791e+09,NaN,NaN,t2_6crtu,1404184792,cnet.com,https://www.reddit.com/r/technews/comments/29j...,0.0,29j6ov,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-01 03:19:52
1,Password_is_123456,1.322791e+09,NaN,NaN,t2_6crtu,1404184791,arstechnica.com,https://www.reddit.com/r/technews/comments/29j...,0.0,29j6op,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-01 03:19:51
2,[deleted],NaN,NaN,NaN,NaN,1404181722,protonmail.ch,https://www.reddit.com/r/technews/comments/29j...,0.0,29j2c1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-01 02:28:42
3,ANIMAL_NewYork,1.403191e+09,NaN,NaN,t2_h1mjr,1404156644,animalnewyork.com,https://www.reddit.com/r/technews/comments/29h...,0.0,29hy6f,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-06-30 19:30:44
4,Password_is_123456,1.322791e+09,NaN,NaN,t2_6crtu,1404155395,techcrunch.com,https://www.reddit.com/r/technews/comments/29h...,0.0,29hvyr,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-06-30 19:09:55

In [18]:
min(raw_data.date_time)

Timestamp('2011-01-01 06:39:19')

In [19]:
max(raw_data.date_time)

Timestamp('2021-01-01 03:24:42')

In [20]:
## filter to where removed_by_category = null
raw_data.removed_by_category.value_counts()

reddit       15893
moderator     7245
deleted        384
Name: removed_by_category, dtype: int64

In [21]:
f1_df = raw_data[raw_data.removed_by_category.isna()]
f1_df.shape

(53268, 105)

In [22]:
# examine is_meta as meta posts are posted by subreddit itself

f1_df.is_meta.value_counts()

False    25936
Name: is_meta, dtype: int64

In [ ]:
# export to Excel and review all fields and completeness
f1_df.to_excel('f1_df_review.xlsx', index=False)

# fields to keep


1. author
2. author_fullname
3. created_utc
4. domain --- though this might not be in the oldest data
5. full_link  - link to reddit technews
6. id
7. num_comments
8. permalink  - link starting with r/technews
9. score
10. title
11. url - link to post's article
12. date_time


only recent year has upvote ratio

checked that no true in quarantine, archived, is_self, is_media

In [29]:
# also need to filter where removed_by is blank
# field names changed over the years

f2_df = f1_df[f1_df.removed_by.isna()]
f2_df.shape

(52704, 105)

In [30]:
f2_df.domain.value_counts()

post5.net             2602
planyour.website      2399
earthf.tk             2375
pinterest.com         1741
digitechengine.com    1383
                      ...
trickscraze.com          1
firstsevan.com           1
dynexcel.com             1
4-traders.com            1
tkrt.io                  1
Name: domain, Length: 7639, dtype: int64

In [31]:
f2_df.url.nunique()

51905

In [32]:
f2_df.domain.nunique()

7639

In [40]:
f3_df = f2_df[['id','created_utc', 'date_time', 'author', 'author_fullname', 'title', 'url', 
               'domain', 'num_comments', 'score', 'permalink', 'full_link' ]]

In [41]:
f3_df.shape

(52704, 12)

In [42]:
f3_df.head()

,id,created_utc,date_time,author,author_fullname,title,url,domain,num_comments,score,permalink,full_link
0,29j6ov,1404184792,2014-07-01 03:19:52,Password_is_123456,t2_6crtu,New leaks show off the iPhone 6's curved edged...,http://www.cnet.com/news/new-leaks-show-off-up...,cnet.com,0,0,/r/technews/comments/29j6ov/new_leaks_show_off...,https://www.reddit.com/r/technews/comments/29j...
1,29j6op,1404184791,2014-07-01 03:19:51,Password_is_123456,t2_6crtu,Millions of dynamic DNS users suffer after Mic...,http://arstechnica.com/security/2014/06/millio...,arstechnica.com,6,63,/r/technews/comments/29j6op/millions_of_dynami...,https://www.reddit.com/r/technews/comments/29j...
2,29j2c1,1404181722,2014-07-01 02:28:42,[deleted],NaN,Paypal Freezes ProtonMail Campaign Funds,https://protonmail.ch/blog/paypal-freezes-prot...,protonmail.ch,0,1,/r/technews/comments/29j2c1/paypal_freezes_pro...,https://www.reddit.com/r/technews/comments/29j...
3,29hy6f,1404156644,2014-06-30 19:30:44,ANIMAL_NewYork,t2_h1mjr,UNETHICAL FACEBOOK “EMOTIONAL CONTAGION” STUDY...,http://animalnewyork.com/2014/facebook-emotion...,animalnewyork.com,0,1,/r/technews/comments/29hy6f/unethical_facebook...,https://www.reddit.com/r/technews/comments/29h...
4,29hvyr,1404155395,2014-06-30 19:09:55,Password_is_123456,t2_6crtu,Microsoft May Prioritize The Desktop In Windows 9,http://techcrunch.com/2014/06/30/microsoft-may...,techcrunch.com,23,53,/r/technews/comments/29hvyr/microsoft_may_prio...,https://www.reddit.com/r/technews/comments/29h...

In [43]:
f3_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52704 entries, 0 to 3841
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               52704 non-null  object
 1   created_utc      52704 non-null  int64
 2   date_time        52704 non-null  datetime64[ns]
 3   author           52704 non-null  object
 4   author_fullname  42503 non-null  object
 5   title            52704 non-null  object
 6   url              52704 non-null  object
 7   domain           52704 non-null  object
 8   num_comments     52704 non-null  int64
 9   score            52704 non-null  int64
 10  permalink        52704 non-null  object
 11  full_link        52704 non-null  object
dtypes: datetime64[ns](1), int64(3), object(8)
memory usage: 5.2+ MB

In [45]:
with open('technews_posts.pickle', 'wb') as to_write:
    pickle.dump(f3_df, to_write)